
@font-face {
    font-family: PoppinsMd;
    src: url(/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: Pacifico;
    src: url(/fonts/Pacifico-Regular.ttf);
}

/* Var */
:root {
    --beige: #FAEDCD;
    --vert: #A3B18A;
    --bleu: #264653;
}


body {
    font-family: PoppinsMd;
}

/* Title: Projects */
header {
    height: 20vh;
    background-image: url(../img/backgr.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    font-size: xx-large;
}
header h1 {
    margin: 0;
}
/* Mobile */
@media (max-width: 600px) {
    header {
        height: 15vh;
    }
}


/* Les boites */
main {
    display: grid;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);

    padding: 3rem;
    padding-bottom: 2rem;
   
    column-gap: 3vw;
    row-gap: 5vw;
    width: 100%;
}
.element, .element:hover {
    width: 20vw;
    aspect-ratio: 1 / 1.5;
    border-radius: 5%;

    text-decoration: none;
    color: var(--bleu);
    text-align: center;

    transition: width 0.5s;

    background-color: var(--beige);
}
.element:hover {
    width: 22vw;
}

/* 3 par ligne */
@media (max-width: 1024px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
    .element {
        width: 25vw;
    }
    .element:hover {
        width: 27vw;
    }
}

/* 2 par ligne */
@media (max-width: 830px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
    .element {
        width: 35vw;
    }
    .element:hover {
        width: 38vw;
    }
}

/* Mobile */
@media (max-width: 600px) {
    main {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10vw;
    }
    .element, .element:hover{
        width: 65vw;
    }
}



/* Contenu de boite */
/* Image, date et titre */
.el_top {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.el_top img {
    border-radius: 5% 5% 0 0;
}

.el_top h3 {
    padding: 0;
    margin: 0;
}
.el_top i {
    font-size: small;
}

/* Description */
.el_txt {
    height: 35%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0.5rem;
    font-size: small;
}

.separator {
    margin: 0 auto;
    width: 30%;
}

.separator hr {
    margin-bottom: 0 auto;
    border: 1px solid var(--bleu);
    text-align: center;
}



/* Voir plus */
#div_plus, #plus {
    margin-bottom: 2rem;
    text-align: center;
    color: var(--vert);
    text-decoration: none;
}