
@font-face {
    font-family: PoppinsMd;
    src: url(fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: Pacifico;
    src: url(fonts/Pacifico-Regular.ttf);
}

/* Var */
:root {
    --beige: #FAEDCD;
    --vert: #A3B18A;
    --bleu: #264653;
}



body {
    font-family: PoppinsMd;
}

.button {
    border-radius: 30px;
    padding: 7px;
    background-color: #A3B18A;
    color: aliceblue;

}

h1, h2, h3, p {
    margin-bottom: 2rem;
}

h1, h2 {
    color: #264653;
}

a, a:hover {
    /* color: black; */
    text-decoration: none;
}

#photo img {
    width: 80vw;
    margin-right: auto !important;
    margin-left: auto !important;
    border-radius: 360px;
}

/* PC */
@media (min-width: 992px) {
    main {
       height: 90vh;
       margin-right: 5vw;
       margin-left: 5vw;
    }
    article {
        width: 40vw !important;
    }
    #photo img {
        width: 32vw;
        height: auto;
        
        margin-right: auto !important;
        margin-left: 0 !important;
    }
}

/* Mobile */
@media (max-width: 992px) {
    body {
        padding-bottom: 2vh;
    }
    article {
        width: 80% !important;
        margin-right: auto !important;
        margin-left: auto !important;
        padding-top: 0;

    }
    #photo img {
        width: 80vw;
        max-width: 400px;
        height: auto;

        margin-right: auto !important;
        margin-left: auto !important;
    }
}
