/* Nav Bar */
:root {
    --marge: 2rem;
}

@font-face {
    font-family: PoppinsMd;
    src: url(Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: Pacifico;
    src: url(Pacifico-Regular.ttf);
}

body {
    font-family: PoppinsMd;
}

.container-fluid {
    padding: 0;
}

.navbar-brand {
    margin: 0 40% 0 var(--marge);
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Pacifico;
    color: red;
}

.navbar-brand:hover {
    color: black;
}

.navbar-toggler {
    margin-right: var(--marge);
}

#menu {
    margin-right: var(--marge);
}

ul {
    margin-left: var(--marge);
}

li {
    margin: 0 !important;
    border-top: 2px transparent solid;
    border-bottom: 2px transparent solid;
}

li:hover {
    border-top: 2px red solid;
    border-bottom: 2px red solid;
}

.nav-link {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.nav-item {
    margin: 1rem 0 0 1rem;
}

.button {
    border-radius: 30px;
    padding: 7px;
    background-color: red;
    color: aliceblue;

}

h1, h2, h3, p {
    margin-bottom: 2rem;
}


a, a:hover {
    color: black;
    text-decoration: none;
}

img {
    width: 80vw;
    margin-right: auto !important;
    margin-left: auto !important;
    border-radius: 360px;
}

@media (min-width: 992px) {
    nav {
        height: 10vh;
    }
    main {
       height: 90vh;
       margin-right: 5vw;
       margin-left: 5vw;
    }
    article {
        width: 40vw !important;
    }
    img {
        width: 32vw;
        height: auto;
        
        margin-right: auto !important;
        margin-left: 0 !important;
    }
}


@media (max-width: 992px) {
    nav {
        height: 8vh;
    }
    body {
        padding-bottom: 2vh;
    }
    article {
        width: 80% !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }
    img {
        width: 80vw;
        max-width: 400px;
        height: auto;

        margin-right: auto !important;
        margin-left: auto !important;
    }

    article {
        padding-top: 0;
    }
}
