
@font-face {
    font-family: PoppinsMd;
    src: url(/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: Pacifico;
    src: url(/fonts/Pacifico-Regular.ttf);
}

/* Var */
:root {
    --beige: #FAEDCD;
    --vert: #A3B18A;
    --bleu: #264653;
}



body {
    font-family: PoppinsMd;
}

/* Title: Projects */
header {
    height: 20vh;
    background-image: url(../img/backgr.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    font-size: xx-large;
}
header h1 {
    margin: 0;
}
/* Mobile */
@media (max-width: 600px) {
    header {
        height: 15vh;
    }
}

#contact_container h3 {
    text-align: center;
    margin: 0;
}


main {
    height: 70vh;
    text-align: center;
    padding-top: 2rem;
}

main h3 {
    margin: 0;
}

#contact_container {
    height: 90%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact_background {
    padding: 2rem 0;
}

#elements {
    width: 80%;

    margin: 0 auto;
    padding: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;

    border-radius: 30px;
    background-color: var(--beige);
}

.element {
    width: 20%;
    aspect-ratio: 1 / 0.7;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem;

    border-radius: 30px;
    background-color: white;
    box-shadow: 2px 2px 10px rgb(58, 57, 57);
}

.element img {
    margin: 0 auto 1rem auto;
    width: 40%;
}