
@font-face {
    font-family: PoppinsMd;
    src: url(/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: Pacifico;
    src: url(/fonts/Pacifico-Regular.ttf);
}

/* Var */
:root {
    --beige: #FAEDCD;
    --vert: #A3B18A;
    --bleu: #264653;
}



body {
    font-family: PoppinsMd;
}

/* Title: Projects */
header {
    height: 20vh;
    background-image: url(../img/backgr.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    font-size: xx-large;
}
header h1 {
    margin: 0;
}
/* Mobile */
@media (max-width: 600px) {
    header {
        height: 15vh;
    }
}

h1 {
    text-align: center;
    margin: 0;
    margin-top: 10vh;
}


#contact_container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

main {
    width: 70%;
    padding: 2rem 0;

    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.element {
    width: 20%;
    aspect-ratio: 1 / 0.7;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem;

    border-radius: 30px;
    box-shadow: 10px 10px 30px black
}

.element img {
    margin: 0 auto 1rem auto;
    width: 40%;
}