/* Fonts */
@font-face {
    font-family: PoppinsMd;
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: Pacifico;
    src: url(../fonts/Pacifico-Regular.ttf);
}

/* Var */
:root {
    --beige: #FAEDCD;
    --vert: #A3B18A;
    --bleu: #264653;
}



/* Nav */
nav {
    height:8vh;
    min-height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem 0 1.25rem;
    background-color: var(--beige);
}
/* Mobile */
@media (max-width: 992px) {
    nav {
        padding: 0 1rem 0 1rem;
    }
}


/* Suite de navbar */
#nav_add {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    height: auto;
}
/* Mobile */
@media (max-width: 992px) {
    #nav_add {
        flex-direction: column;
        justify-content: space-between;
        padding: 0 0 0 1.1rem;
        width: 100vw;
        background-color: var(--beige);
    }
}


/* Elements de la nav bar */
#nav_marque {
    font-family: Pacifico;
    font-size: 1.25rem;
    color: var(--bleu);
}

.nav_el {
    font-size: 0.8rem;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-top: 2px transparent solid;
    border-bottom: 2px transparent solid;
}
.nav_el:hover {
    border-top: 2px #264653 solid;
    border-bottom: 2px #264653 solid;
    color: #264653;
}
.nav_el:hover a {
    color: inherit;
}
/* Mobile */
@media (max-width: 992px) {
    .nav_el, .nav_el:hover {
        padding-top: 2vh;
        padding-bottom: 2vh;
        border: none;
    }
}

.nav_el, #nav_marque {
    color: black;
    text-decoration: none;
}



/* Bouton */
#nav_button {
    border: none;
    padding: 0;
    background-color: inherit;
}
#nav_button img {
    width:30px;
    border: none;
}